<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Kana Quiz</title>
    
    <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='favicon.ico') }}" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>
<body>

    {% block content %}{% endblock %}

</body>
</html>