{% extends "base.html" %}
{% block content %}

    <div id="outer">

        <div class="gutter"></div>

        <div id="main">
            
            <div id="main-top">
                <a href="/" class="button is-text">&lt; return to main menu</a>
            </div>
            
            <h1 class="title">practice mode</h1>

            <div>
                <canvas id="canvas" width="300" height="300"></canvas>
            </div>

            <div id="q-container">

                {% if correct %}
                    {% if correct == 'yes' %}
                        <p class="big-text">correct! next question:</p>
                    {% else %}
                        <p class="big-text">incorrect! next question:</p>
                    {% endif %}
                {% endif %}

                <p class="bigger-text">write a "{{q}}"</p>
            </div>


            <div id="buttons">
                <form id="practice-form" action="/practice" method="POST">
                    <input id="pixels" name="pixels" type="hidden" />
                    <input id="question" name="question" type="hidden" value="{{q}}" />
                    <button type="button" class="button is-success" onclick="sendPracticeData()">check my answer</button>
                    <button type="button" class="button is-info" onclick="resetCanvas()">clear</button>
                </form>
            </div>

        </div>

        <div class="gutter"></div>

    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            startCanvas()
        })
    </script>

{% endblock %}